<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>The News Flask</title>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1>The News Flask</h1>
        </div>

        {% block content %}
        {% endblock %}

    </div>
  </body>
</html>