{% extends "base.html" %}
{% block content %}
<div class="row">
        {% for new in news %}
        <div class="col-sm">    
            <div class="card" style="width: 18rem;">
                <img src="{{ new.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ new.titulo }}</h5>
                    <p class="card-text">{{ new.descricao }}</p>
                    <a href="{{ new.url }}" target="_blank" class="btn btn-primary">Vá para Notícia</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}